<link href="./static/css/quill.snow.css" rel="stylesheet">
<link href="./static/css/board.css" rel="stylesheet">
<h1>Write Page</h1>
<!-- <div id="editor" style="height:70%;"></div> -->
<form method="POST" id="write-form">
  <h3 id="title"><span>Title : </span><input type="text" name="title"></h3><br>
  <div id="editor">helloworld</div>
  <textarea name="article" style="display:none" id="hiddenArea"></textarea>
  <input onclick="Submit()" type="submit" value="Post Article" id="submit"/>
</form>

<script src="./static/js/quill.js"></script>
<script src="./static/js/jquery.min.js"></script>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
  function Submit(){
    var editortObject = document.getElementsByClassName('ql-editor')[0];
    document.getElementById('hiddenArea').value = editortObject.innerHTML;
  }
</script>
